body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

button {
  background-color: #3882F6;
}

.header {
  display: flex;
  justify-content: space-evenly;
}

.header,
.hero {
  background-color: #1f2937;
}

.links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

a,
.sub-text {
  font-size: 18px;
  color: #E5E7EB;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}