body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header,
.hero,
.info_section,
.quote_section,
.footer
{
  padding: 1em 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header_logo {
  margin-right: auto;
}

.header {
  justify-content: space-around;
  gap: 2em;
}

.hero {
  padding: 5em 12.5%;
  gap: 4em;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}

.right {
  flex: 1;
}

img {
  max-width: 100%;
}

.info_section {
  flex-direction: column;
}

.info_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0 6em 0;
}

.card {
  max-width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#square_1, 
#square_2, 
#square_3, 
#square_4 {
  border: 4px solid #3882F6;
  border-radius: 20px;
  width: 160px;
  height: 160px;
}

.quote_section {
  flex-direction: column;
  padding: 8em 15%;
}

.quote_user {
  margin-left: auto;
}

.cta_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6em 10em;
}

.cta_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 3em;
}

.footer {
  padding: 2em;
}

/* Element appearance */

.header,
.hero {
  background-color: #1f2937;
}

.link, #hero_sub_text {
  font-size: 18px;
  color: #E5E7EB;
}

.link {
  font-size: 18px;
  color: #e5e7eb
}

.card p {
  font-size: 18px;
}

.quote_section {
  background-color: #E5E7EB;
}

.quote_text {
  font-size: 36px;
  color: #1F2937;
}

.quote_user {
  font-weight: 800;
  color: #1F2937;
}

#header_logo {
  font-size: 24px;
  background-image: repeating-linear-gradient(45deg, #AF9F8C, #7F867B, #C7C7BB, #D4C8BE, #E3E4E0);
  -webkit-background-clip: text;
  background-size: 800% 800%;
  color: transparent;
  animation: rainbow 8s ease-in-out infinite;
}

@keyframes rainbow { 
  0% {background-position: 0% 50%}
  50% {background-position: 100% 25%}
  100% {background-position: 0% 50%}
}

#hero_main_text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

#info_header_text {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

#hero_button, #cta_button {
  font-size: 18px;
  padding: 10px 2em;
  border-radius: 6px;
  font-weight: 500;
}

#hero_button {
  border: 2px solid #F9FAF8;
  background-color: #1F2937;
  color: #F9FAF8;
}

#cta_button {
  border: 2px solid #F9FAF8;
  background-color: #BA494B;
  color: #F9FAF8;
}

.cta_container {
  background-color: #BA494B;
  border-radius: 8px;
}

#cta_title {
  font-size: 20px;
  font-weight: bolder;
  color: #F9FAF8;
}

#cta_desc {
  color: #E5E7EB;
}

.footer {
  background-color: #1F2937;
}

#footer_text {
  color: #E5E7EB;
}